<div class="navbar">

  <div class="brand">
    <h2>Evaluador Financiero Pricing</h2>
  </div>

  <div class="nav-links">

    <!-- <a routerLink="/main">
      Inicio
    </a> -->

    <a routerLink="/evaluator">
      Evaluador
    </a>

    <!-- <a routerLink="/quotes">
      Cotizaciones
    </a> -->

  </div>

  <div class="user-menu">

    <button
      class="user-button"
      (click)="toggleUserMenu()">

      {{ user?.first_name }}
      <!-- ▼ -->

    </button>

    <div
      class="dropdown"
      *ngIf="showUserMenu">

      <div class="user-info">

        <strong>
          {{ user?.first_name }}
          {{ user?.last_name }}
        </strong>

        <small>
          {{ user?.email }}
        </small>

        <small>
          {{ user?.cargo }} · {{ user?.area }}
        </small>

      </div>

      <hr>

      <!--
      <button class="dropdown-item">
        👤 Mi perfil
      </button>

      <button class="dropdown-item">
        ⚙ Configuración
      </button>
      -->
      @if(userService.isAdmin()){
          <button
              class="dropdown-item"
              routerLink="/variables"
              (click)="showUserMenu=false">
              Variables
          </button>
      }

       <button
          class="dropdown-item"
          routerLink="/change-password"
          (click)="toggleUserMenu()">
          Cambiar contraseña
        </button>

      <button
        class="dropdown-item"
        (click)="logout()">

        <!--🚪--> Cerrar sesión 

      </button>

    </div>

  </div>

</div>