<div class="navbar">

  <!-- ===================== -->
  <!-- BRAND -->
  <!-- ===================== -->

  <div class="brand">
    <!-- Logo ACC -->
  </div>


  <!-- ===================== -->
  <!-- NAVIGATION -->
  <!-- ===================== -->

  <div class="nav-links">

    <!-- PRICING -->
    @if (userService.hasArea('pricing')) {
      <a routerLink="/evaluator">
        Evaluador
      </a>
    }
    <!-- PREVENTA -->
    @if (userService.hasArea('preventa')) {
      <a routerLink="/pre-sales">
        Preventas
      </a>
      <a routerLink="/feasibility">
        Viabilización
      </a>
    }


    <!-- RETENCIÓN -->
    @if (userService.hasArea('retencion')) {
      <a routerLink="/retention">
        Retención
      </a>
    }
  </div>


  <!-- ===================== -->
  <!-- USER MENU -->
  <!-- ===================== -->

  <div class="user-menu">

    <button
      class="user-button"
      (click)="toggleUserMenu($event)">
      {{ user?.first_name }}
    </button>


    @if (showUserMenu) {
      <div
        class="dropdown"
        (click)="$event.stopPropagation()">
        <div class="user-info">
          <strong>
            {{ user?.first_name }}
            {{ user?.last_name }}
          </strong>
          <small>
            {{ user?.email }}
          </small>
          <small>
            {{ user?.cargo }} · {{ user?.area }}
          </small>
        </div>
        <hr>


        <!-- VARIABLES -->
        <!-- Solo usuarios del grupo admin -->

        @if (userService.isAdmin()) {
          @if (userService.hasArea('pricing')) {
            <button
              class="dropdown-item"
              routerLink="/pricing-variables"
              (click)="showUserMenu = false">
              Variables
            </button>
          }

          @if (userService.hasArea('preventa')) {
            <button
              class="dropdown-item"
              routerLink="/preventa-variables"
              (click)="showUserMenu = false">
              Variables
            </button>
          }

        }


        <!-- CAMBIAR CONTRASEÑA -->

        <button
          class="dropdown-item"
          routerLink="/change-password"
          (click)="showUserMenu = false">

          Cambiar contraseña

        </button>


        <!-- LOGOUT -->

        <button
          class="dropdown-item"
          (click)="logout()">

          Cerrar sesión

        </button>

      </div>

    }

  </div>

</div>