$Aztk_deepBlue: #074057;

.password-container{
    width:400px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

input{
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
}

button{
    margin-top:10px;
    padding:10px;
    background:$Aztk_deepBlue;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

button:disabled{
    opacity:.6;
    cursor:not-allowed;
}

.password-field{
    position: relative;
    display: flex;
    align-items: center;
}

.password-field input{
    width:100%;
    padding-right:40px;
}

.eye-button{
    position: absolute;
    right: 10px;
    top: 25%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: $Aztk_deepBlue; // Azul corporativo
    font-size: 0.85rem;
    font-weight: 600;
    padding: 0 4px;
}

.eye-button:hover{
    color: #0a6b90;
    text-decoration: underline;
}

.password-field{
    position: relative;
}

.password-field input{
    width: 100%;
    padding-right: 70px; // deja espacio para el texto
}