<div class="login-container">

  <h1>Azteca Business</h1>

  <div class="input-group">
    <label>Usuario</label>

    <input
      type="text"
      [(ngModel)]="username"
    >
  </div>

  <div class="input-group">
    <label>Contraseña</label>
    <div class="password-field">
      <input
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="password">
      <button
          type="button"
          class="eye-button"
          (mousedown)="showPassword = true"
          (mouseup)="showPassword = false"
          (mouseleave)="showPassword = false"
          (touchstart)="showPassword = true"
          (touchend)="showPassword = false">

          <span class="material-symbols-outlined">
              visibility
          </span>
          
      </button>
    </div>
  </div>

  <button
    (click)="login()"
    [disabled]="isLoading"
  >
    <span *ngIf="!isLoading">
      Ingresar
    </span>
    <span
      *ngIf="isLoading"
      class="loading-content"
    >
      <span class="spinner"></span>
      Ingresando...
    </span>
  </button>

</div>